<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geprek Mumbul</title>
    <link rel="stylesheet" href="./../static/css/styles.css">
</head>
<body>
    <h2>Menambah Database</h2>


    <form action="/database/menambah/upload" method="POST" enctype="multipart/form-data">
        <p>File gambar dalam format .zip</p>
        <input type="file" name="zip_image" required>
        <p>File suara dalam format .zip</p>
        <input type="file" name="zip_audio" required>
        <p>Mapper untuk database tersebut dalam format .txt</p>
        <input type="file" name="newmapper" required>
        <button type="submit">Upload</button>
    </form>

    <div class="footer">
        <a href="{{ url_for('go_to_menu_database') }}">Kembali</a>
        <a href="{{ url_for('home') }}">Beranda</a>
    </div>
</body>
</html>
