<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geprek Mumbul</title>
    <link rel="stylesheet" href="./../static/css/styles.css">
</head>
<body>
    <h1>Selamat Datang di Geprek Mumbul</h1>
    <p>Silakan pilih opsi yang sesuai dengan halaman yang ingin Anda tuju.</p>

    <div class="menu">
        <a href="{{ url_for('go_to_menu_database') }}" class="opsi">Database</a>
        <a href="{{ url_for('go_to_menu_query') }}" class="opsi">Query</a>
    </div>
</body>
</html>
