<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geprek Mumbul</title>
    <link rel="stylesheet" href="./../static/css/styles.css">
</head>
<body>
    <h2>Query Audio</h2>

    <form action="/query/audio/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <div class="footer">
        <a href="{{ url_for('go_to_menu_query') }}">Kembali</a>
        <a href="{{ url_for('home') }}">Beranda</a>
    </div>
</body>
</html>
